@charset 'UTF-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--primary-font-family);
	width: 100vw;
	min-height: 100dvh;
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
}

#main-contact-section,
#contact-information-section,
#contact-editing-section {
	width: 100%;
	height: 100%;
	position: fixed;
}

/* Seção principal */
#main-contact-section {
	top: 0;
	display: flex;
	left: 0;
	flex-direction: column;
	transition: left 0.3s ease-out;
}

header {
	padding: 5px 10px;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--primary-background-color);
	border-bottom: 2px solid var(--primary-transparent-color);
	z-index: 1000;
}

h1 {
	margin-bottom: 10px;
	text-align: center;
	color: var(--primary-text-color);
}

header #controls {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#contact-search-input {
	padding: 10px;
	outline: none;
	background-color: transparent;
	color: var(--primary-text-color);
	border: 2px solid var(--secondary-transparent-color);
	border-radius: 18px;
}

#contact-search-input::placeholder {
	color: var(--secondary-text-color);
}

#controls button {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: var(--primary-text-color);
	border: 2px solid var(--secondary-transparent-color);
	border-radius: 50%;
	transition: all 0.3s ease-out;
}

#controls button:hover {
	border-color: var(--primary-text-color);
	transform: scale(1.1);
}

#contact-list {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
}

#contact-list .contact-card {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	background-color: var(--primary-background-color);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	animation: fade-in 0.3s ease-in;
}

#contact-list .contact-card:hover {
	background-color: var(--primary-hover-color);
}

#contact-list .contact-card .user-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#contact-list .icon-container {
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-text-color);
	border-radius: 50%;
	user-select: none;
}

#contact-list .details-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}

#contact-list .contact-card .contact-name {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--primary-text-color);
}

#contact-list .contact-card .contact-email {
	font-size: 0.8rem;
	color: var(--secondary-text-color);
}

#contact-list .contact-card .control-container {
	display: flex;
	gap: 10px;
}

#main-contact-section .button-container {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
}

#main-contact-section .button-container button {
	width: 50px;
	height: 50px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	background-color: var(--primary-text-color);
	color: var(--primary-background-color);
	transition: transform 0.3s ease-out;
}

#main-contact-section .button-container .list-of-buttons {
	display: none;
}

#main-contact-section .button-container > button.active {
	transform: rotate(45deg);
}

#main-contact-section .button-container > button.active ~ .list-of-buttons {
	position: absolute;
	bottom: 125%;
	left: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	transform: translateX(-50%);
}

#theme-color-button .icon {
	width: 20px;
	height: 20px;
}

#app-version {
	font-size: 1rem;
	position: fixed;
	top: 10px;
	right: 15px;
	z-index: 10;
}

#contact-information-section .contact-control-options,
#contact-editing-section .contact-control-options {
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contact-information-section .control-container,
#contact-editing-section .control-container {
	width: 100%;
	height: 25%;
	position: relative;
}

#contact-information-section .icon-container,
#contact-editing-section .icon-container {
	font-size: 7rem;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #006C00;
	color: var(--primary-text-color);
	box-shadow: inset 10px 0 10px rgba(0, 0, 0, 0.5);
	user-select: none;
}

#contact-information-section .contact-control-options .list-of-buttons,
#contact-editing-section .contact-control-options .list-of-buttons {
	position: relative;
	display: flex;
	z-index: 1001;
}

#contact-information-section .contact-control-options .list-of-buttons .button-container,
#contact-editing-section .contact-control-options .list-of-buttons .button-container {
	position: relative;
}

#contact-information-section .contact-control-options .list-of-buttons .button-container .tooltip,
#contact-editing-section .contact-control-options .list-of-buttons .button-container .tooltip {
	padding: 15px;
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: 130%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--tooltip-background-color);
	color: var(--primary-background-color);
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%);
	transition: opacity 0.3s ease-in-out;
}

#contact-information-section .contact-control-options .list-of-buttons .button-container button.active ~ .tooltip,
#contact-editing-section .contact-control-options .list-of-buttons .button-container button.active ~ .tooltip {
	visibility: visible;
	opacity: 1;
}

#contact-information-section .contact-control-options .list-of-buttons .button-container button,
#contact-editing-section .contact-control-options .list-of-buttons .button-container button {
	font-size: 1.25rem;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: var(--primary-text-color);
	border: none;
	border-radius: 50%;
	transition: background-color 0.3s ease-out;
}

#contact-information-section .contact-control-options .list-of-buttons .button-container button:hover,
#contact-editing-section .contact-control-options .list-of-buttons .button-container button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

/* Seção de informação de contato */
#contact-information-section {
	top: 0;
	right: -100%;
	background-color: var(--primary-background-color);
	z-index: 1000;
	transition: right 0.3s ease-out, var(--color-transition);
}

#contact-information-section.open {
	right: 0;
}

#contact-information-section.open ~ #main-contact-section {
	left: -100%;
}

#contact-information-section .contact-details-container .information-field {
	padding: 15px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	user-select: none;
	transition: background-color 0.3s ease-in-out;
}

#contact-information-section .contact-details-container .information-field:hover {
	background-color: var(--primary-hover-color);
}

#contact-information-section .contact-details-container .information-field .information-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact-information-section .contact-details-container .information-field .information-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* Seção de edição de contato */
#contact-editing-section {
	top: 0;
	right: -100%;
	background-color: var(--primary-background-color);
	transition: right 0.3s ease-out, var(--color-transition);
}

#contact-editing-section.open {
	right: 0%;
}

#contact-editing-section .edit-field {
	padding: 0 15px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

#contact-editing-section .edit-field .edit-field-icon {
	padding: 5px;
	font-size: 1.25rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--primary-text-color);
}

#contact-editing-section .edit-field .edit-field-text {
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
}

#contact-editing-section .edit-field .edit-field-text input {
	outline: none;
	width: 100%;
	font-size: 1rem;
	background-color: transparent;
	color: var(--primary-text-color);
	border: none;
	border-bottom: 2px solid #A46459;
}

#contact-editing-section .edit-field .edit-field-text input::placeholder {
	color: var(--primary-text-color);
}

#contact-editing-section .edit-field .edit-field-text input:focus {
	border-color: #CD7B6F;
}

#contact-editing-section .edit-field .edit-field-text .error-message {
	font-size: 10px;
	color: #FC2F2F;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#contact-editing-section .edit-field .edit-field-text.error input {
	border-color: #FC2F2F;
}

#contact-editing-section .edit-field .edit-field-text.error .error-message {
	visibility: visible;
	opacity: 1;
}

/* Estilos secundários */
.update-banner {
	padding: 15px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #3498DB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--primary-text-color);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	z-index: 9999;
}

.update-banner button {
	padding: 10px;
	width: 100%;
	background-color: #3846DE;
	color: var(--primary-text-color);
	border: none;
	border-radius: 24px;
}

.toast-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	z-index: 10000;
	display: flex;
	flex-direction: column;
	gap: 10px;
	transform: translateX(-50%);
}

.toast {
	padding: 12px 24px;
	font-size: 0.9rem;
	background-color: #333;
	color: var(--primary-text-color);
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s ease, color 0.3s ease;
	animation: slide-up 0.3s ease-out, fade-out 0.3s ease-in 2.7s forwards;
}

.toast.success {
	background-color: var(--success-background-color);
}

.toast.error {
	background-color: var(--error-background-color);
}